#app{
    display: grid;
    grid-template-columns: 51.25% 49.75%;
    height: 100vh;
    overflow: hidden;
}
main{
    overflow: auto;
    & .main-container{
        width: 33rem;
        margin: 4rem;
        margin-left: auto;
        & .back{
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-bottom: 1.5rem;
        }
        & h1{
            font: var(--h1);
            margin-bottom: 0.5rem;
        }
        & p{
            margin-bottom: 3rem;
        }
    }
}
aside{
    overflow: hidden;
    background-color: var(--surface-secondary);
    & .aside-container{
        width: 33rem;
        margin: 4rem;
        margin-right: auto;
        & h2{
            font: var(--h2);
            margin-block: .5rem;
            & span{
                color: var(--text-highlight);
            }
        }
        & p{
            margin-bottom: 2rem;
        }
    }
}