.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
  margin-top: 3rem;
  gap: 1rem;

  & button {
    all: unset;
    cursor: pointer;

    &.btn-primary{
        background-color: var(--brand-dark);
        border: 1px solid var(--brand-dark);
        color: var(--surface-primary);
        border-radius: .5rem;
        padding: .75rem 1.5rem;
        &:hover{
            background-color: var(--brand-mid);
            border-color: var(--brand-mid);
        }
    }

    &.btn-secondary{
        background-color: var(--surface-primary);
        border: 1px solid var(--text-highlight);
        color: var(--text-highlight);
        border-radius: .5rem;
        padding: .75rem 1.5rem;
        &:hover{
            border-color: var(--brand-dark);
            color: var(--brand-dark);
        }
    }
  }
}
